.select-assembly-line {
    display: flex;
    width: 100%;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.selector {
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    min-width: 250px;
    justify-content: space-around;
}

.options {
    position: absolute;
    display: none;
    background-color: #fff;
    width: 100%;
    max-height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
    overflow-y: auto;
}

.item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:hover {
    background-color: #ccc;
}

.search-input {
    margin: 10px;
}

.search-icon {
    margin-left: 10px;
}

.select-filters {
    display: flex;
    gap: 10px;
}

.item-filter {
    border: 2px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
    overflow-x: hidden;
}

.item-filter:hover {
    border: 2px solid rgba(255, 0, 0, .5);
    background-color: rgba(255, 0, 0, .3);
}

.item-filter-icon {
    min-width: 25px;
    min-height: 25px;
}

.grid-item-filter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 100px));
    gap: 5px;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .select-assembly-line {
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .grid-item-filter {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    }
    .css-1cyv60y {
        width: 100%;
    }
    .selector {
        width: 100%;
        max-width: 250px;
        min-width: 0px;
    }
    .custom-select > .options {
        width: 250px;
    }
}

.custom-select-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    padding: .25rem 0 .25rem;
}

.custom-select-container:hover {
    border-color: #888;
}

.custom-selector {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.selector-label {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-item {
    padding: 10px;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.custom-item:hover {
    background-color: #bbb;
}

.delete {
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.custom-options {
    position: absolute;
    top: 2.5rem;
    display: none;
    background-color: #fff;
    width: 100%;
    max-height: 300px;
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
    overflow-y: auto;
}

.show {
    display: block;
}

.selected-icon {
    margin-left: 10px;
}