.table-machines {
    padding-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input-machines {
    width: 30%;
}

.search-machines {
    width: 100%;
}

.fallback {
    display: "flex";
    justify-content: "center";
    align-Items: "center";
    height: "100vh";
    width: "100vw";
}

@media screen and (max-width: 768px) {
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .search-line-critical {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .search-bar > * {
        width: 100%;
    }

    .search-input-machines {
        max-width: 250px;
    }
}

.search-line-critical {
    display: flex;
    align-items: center;
}