.table-machines {
    padding-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input-machines {
    width: 30%;
}

.search-machines {
    width: 100%;
}

.fallback {
    display: "flex";
    justify-content: "center";
    align-Items: "center";
    height: "100vh";
    width: "100vw";
}

@media screen and (max-width: 768px) {
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .search-line-critical {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .search-bar > * {
        width: 100%;
    }

    .search-input-machines {
        max-width: 250px;
    }
}

.filter-critical-button {
    min-width: 150px;
    border: .1px solid #fecaca;
    border-radius: 4px;
    padding: .45rem;
    color: #a61939;
    margin-right: .5rem;
}

.filter-critical-button::after {
    content: 'Mostrar críticas';
}

.filter-critical-button:hover {
    background-color: #fee2e2;
    cursor: pointer;
}

.filter-critical-button-active {
    min-width: 150px;
    border: .5px solid #bfdbfe;
    border-radius: 4px;
    padding: .45rem;
    color: #175ec5;
    margin-right: .5rem;
}

.filter-critical-button-active::after {
    content: 'Mostrar todas';
}

.filter-critical-button-active:hover {
    background-color: #dbeafe;
    cursor: pointer;
}