.machine-related-content {
    margin: 20px;
    gap: 1em;
}

.summary-header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 1rem;
    gap: 1rem;
}

.summary-header > .header-separator {
    width: 2px;
    height: 50px;
    background-color: #ddd;
}

.summary-title {
    font-size: xx-large;
    font-weight: bolder;
}

.summary-description {
    font-size: large;
}

.piece-related-body {
    display: grid;
    grid-template-columns: min-content;
    gap: 5px;
}

.piece-info-container {
    display: flex;
    gap: 5px;
}

.piece-related-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .piece-body {
        margin-left: -15px;
    }
    .summary-header {
        width: 100%;
        margin: 0;
        padding-bottom: 1rem;
    }
}

.machine-details-body {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.summary-image {
    max-height: 50vh;
}
