.titles {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.main-title {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.upper-body-title
.lower-body-title {
    color: #555;
    font-size: 2rem;
}