.titles {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.main-title {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.upper-body-title
.lower-body-title {
    color: #555;
    font-size: 2rem;
}

.rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.factory-image {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    justify-self: center;
}

.videos-btn {
    background-color: #1A2B42;
    color: #FBBA00;
    font-size: xx-large;
    padding: 2rem;
}

.videos-btn:hover {
    background-color: #FBBA00;
    color: #1A2B42;
}