.content-card {
    max-height: fit-content;
}

.body {
    max-height: fit-content;
}

.description {
    height: 65px;
}

.card-title {
    height: 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: large;
}

.critical-badge-card {
    background-color: red;
    color: #333;
    border-radius: 7px;
    padding: .4rem .3rem .4rem .4rem;
    
}

@media screen and (max-width: 768px) {
    .card-title {
        font-size: large;
        font-weight:500;
    }
    .body {
        gap: 10px;
    }
    .description {
        padding-top: 5px;
    }
}