.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    padding-top: 5vh;
    z-index: 1;
    top: 0;
    position: sticky;
}

@media screen and (max-width: 768px) {
    .nav {
        all: unset;
    }
}

.item {
    width: 90%;
    margin-left: 5%;
    z-index: 1;
}

.button-text {
    color: var(--text-color);
    width: 60%;
    text-align: start;
}

.button-icon {
    margin: 0 auto;
}
