:root {
    --primary-color: #60a5fa;
    --secondary-color: #1f2937;
    --background-color: #4b5563;
    --text-color: #f9fafb;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-height: max-content;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 10%;
    background: linear-gradient(
        45deg,
        var(--secondary-color) 15%,
        var(--background-color) 85%
    );
    width: 100%;
}

.main-panel {
    display: flex;
    flex-grow: 1;
    height: 85%;
    overflow: auto;
}

.sidebar {
    width: 10%;
    height: 85%;
}

@media screen and (max-width: 768px) {
    .main-panel {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .sidebar {
        display: none;
    }
}

.title {
    font-size: x-large;
    font-weight: bolder;
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.main-footer {
    display: flex;
    background: linear-gradient(
        45deg,
        var(--secondary-color) 15%,
        var(--background-color) 85%
    );
    color: var(--text-color);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
}

.header-logo {
    height: 100px;
    margin-left: 35px;
}

.burger-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger-menu {
        display: block;
        margin-right: 0.5rem;
    }
    .header-login {
        display: none;
    }
}
