.page-container {
    display: flex;
    flex-direction: column;
}

.header {
    width: auto;
    height: 15%;
}

.main-panel {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-right: 10px;
}

.sidebar { 
    min-width: 180px;
}

.content {
    width: 100%;
    padding: 20px 10px 0px 10px;
}

@media screen and (max-width: 768px) {
    .main-panel {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .sidebar {
        display: none;
    }
}

.title {
    font-size: x-large;
    font-weight: bolder;
}
