.menus-container {
    width: 100%;
}

.move-location-cell {
    position: relative;
}

.location-group {
    display: flex;
}

.menus-label {
    font-weight: 600;
    margin-bottom: 5px;
}

.location-input {
    margin: 0.25rem 0 0.5rem 0;
}

.location {
    position: relative;
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.location > input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

.location > input:focus {
    border-color: #007bff;
    outline: none;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.autofiller {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.edit-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: .25rem;
}

.input {    
    flex: 1 100%;
    display: flex;
    flex-direction: column;
}

.input > input,
.input > textarea,
.input > select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

.input > textarea {
    height: 90px;
}

.input > input:focus,
.input > textarea:focus {
    border-color: #007bff;
    outline: none;
}

.amount-input > input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 15%;
    text-align: center;
}

.print-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}
.qr-code {
    padding: .25rem;
}

.print-info {
    display: flex;
    gap: .5rem;
}

.brand-input,
.type-input,
.workshop-input,
.availability-input,
.min-stock-input,
.buy-price-input,
.repair-price-input,
.supplier-input,
.alt-piece-input,
.is-critical-input {
    flex: 1 1 48%;
}

.print-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.print-menu-body {
    display: none;
}

.print-menu-body > Button {
    margin-top: .5rem;
    width: 50%;
    left: 25%;
}

.show {
    display: block;
}