/* Generales */

.menus-container {
    width: 100%;
}
.menus-label {
    font-weight: 600;
    margin-bottom: 5px;
}
.menus-cage {
    position: relative;
    flex: 1 100%;
    display: flex;
    flex-direction: column;
}

.location-cage,
.serial-cage {
    margin: 0.25rem 0 0.5rem 0;
    width: 100%;
}

.menus-footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    gap: 4rem;
}

.autofiller {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.edit-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
}

.image-input {
    padding: 0.5rem;
    font-size: 1rem;
}

.amount-cage > input {
    width: 15%;
    text-align: center;
}

/* print menu */

.print-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}
.qr-code {
    padding: 0.25rem;
}
.print-info {
    display: flex;
    gap: 0.5rem;
}
.print-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.print-menu-body {
    display: none;
}
.print-menu-body > Button {
    margin-top: 0.5rem;
    width: 50%;
    left: 25%;
}

.brand-edit-cage,
.type-edit-cage,
.workshop-edit-cage,
.availability-edit-cage,
.min-stock-edit-cage,
.buy-price-edit-cage,
.repair-price-edit-cage,
.supplier-edit-cage,
.alt-piece-edit-cage,
.is-critical-edit-cage {
    flex: 1 1 48%;
}

.show {
    display: block;
}

.body-move-stock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* insert menu */
.insert-piece-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.name-insert-cage,
.brand-insert-cage,
.type-insert-cage,
.workshop-insert-cage,
.isCritical-insert-cage {
    flex: 1;
}

.buyPrice-insert-cage,
.repairPrice-insert-cage {
    flex: 1 1 49%;
}
.supplier-insert-cage,
.availability-insert-cage,
.min-stock-insert-cage,
.altPiece-insert-cage {
    flex: 1;
}

.image-piece-insert-cage,
.image-data-card-insert-cage {
    flex: 1;
}

.insert-menu-footer {
    width: 100%;
}

.insert-menu-footer > Button {
    width: 90px;
}