.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cell {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name-cell,
.brand-cell,
.type-cell,
.workshop-cell,
.isCritical-cell {
    flex: 1;
}

.buyPrice-cell,
.repairPrice-cell {
    flex: 1 1 49%;
}
.supplier-cell,
.availability-cell,
.min-stock-cell {
    flex: 1 1 32%;
}

.image-piece-cell,
.image-data-card-cell {
    flex: 0 1;
}

.cell > input,
.cell > textarea,
.cell > select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

.cell > input:focus,
.cell > textarea:focus,
.cell > select:focus {
    border-color: #007bff;
    outline: none;
}

.location-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin: 0 0.25rem 0 0.75rem;
    position: relative;
    top: 4px;
}

.location-radio:nth-child(2) {
    margin-left: 0;
}

.location-radio:checked {
    border: 6px solid #007bff;
}

.form-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
