.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding-top: 20px;
}

.dialog-button {
    float: right;
    z-index: 1;
}

.dialog-button:hover {
    background-color: rgba(26, 43, 66, 0.9);
}

.card:hover {
    cursor: pointer;
    transform: rotateX(10deg) rotateY(10deg);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.card {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: all 0.2s ease-in;
}

.inner-header {
    display: flex;
    justify-content: space-between;
}
.tab-compo {
    width: 40%;
}

.search-button {
    display: flex;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 10px;
        justify-content: center;
        width: 100%;
        padding-top: 20px;
    }
    .inner-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab-compo {
        width: 80%;
    }
    .search-button {
        display: flex;
        width: 90%;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cell {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name-cell,
.brand-cell,
.type-cell,
.workshop-cell {
    flex: 1;
}

.buyPrice-cell,
.repairPrice-cell,
.amount-cell,
.supplier-cell {
    flex: 1;
}
.cell > input,
.cell > textarea,
.cell > select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

.cell > input:focus,
.cell > textarea:focus,
.cell > select:focus {
    border-color: #007bff;
    outline: none;
}

.location-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin: 0 .25rem 0 .75rem;
    position: relative;
    top: 4px;
}

.location-radio:checked {
    border: 6px solid #007bff;
}

.form-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
