.warning-badges {
    position: absolute;
    top: 1rem;
    left: 16rem;
    display: flex;
    gap: 0.5rem;
}

.critical-badge {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: x-large;
}

.spare-badge {
    display: flex;
    align-items: center;
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: x-large;
}

.actions-button {
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: large;
    height: fit-content;
    display: flex;
}

.summary-body,
.traceability-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 1rem;
}

.left-side,
.right-side {
    flex: 1;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.data-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.data-boxes > * {
    flex: 1 100%;
}

.data-box {
    border: solid 2px #000;
    border-radius: 0.25rem;
}

.name-box,
.brand-box,
.type-box {
    flex: 1;
}

.buy-price,
.repair-price {
    flex: 1;
}

.supplier-box,
.alt-piece-box {
    flex: 1;
}

.label {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.25rem 0 0 0.5rem;
}

.value {
    margin: 0 0 0.25rem 0.75rem;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.image-dialog {
    min-width: 150px;
    max-width: 350px;
    height: auto;
}

.image-separator {
    width: 90%;
}

.popover-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .actions-button,
    .warning-badges {
        position: static;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .critical-badge,
    .spare-badge {
        font-size: medium;
        padding: 0.25rem 0.5rem;
    }

    .summary-body {
        flex-direction: column;
    }

    .data-box {
        flex: auto;
    }

    .charts {
        gap: 1rem;
    }

    .image-dialog {
        width: 70%;
    }
}


.traceability-body {
    margin: 1rem;
}

.serials-accordion {
    margin-left: 1rem;
}

.serial-details {
    margin-left: 1rem;
}