.critical-badge {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: x-large;
    position: absolute;
    top: 1rem;
    left: 15rem;
}

.summary-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-side,
.right-side {
    flex: 1;
    padding: 1rem;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.data-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.data-boxes > * {
    flex: 1 100%;
}

.data-box {
    border: solid 2px #000;
    border-radius: .25rem;
}

.name-box,
.brand-box,
.type-box {
    flex: 1;
}

.supplier-box,
.buy-price,
.repair-price {
    flex: 1;
}

.label {
    font-weight: bold;
    font-size: 1rem;
    margin: .25rem 0 0 .5rem;
}

.value {
    margin: 0 0 .25rem .75rem;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.image-dialog {
    max-width: 40%;
    height: auto;
}

.image-separator {
    width: 90%;
}

.popover-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}