.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding-top: 20px;
}

.dialog-button:hover,
.print-list-btn:hover {
    background-color: rgba(26, 43, 66, 0.9);
}

.card:hover {
    cursor: pointer;
    transform: rotateX(10deg) rotateY(10deg);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.card {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: all 0.2s ease-in;
}

.inner-header {
    display: flex;
    position: relative;
    gap: 3rem;
    align-items: center;
}

.tab-compo {
    width: fit-content;
}

.filter {
    display: flex;
    align-items: center;
}

.filter-label {
    margin-right: 10px;
    font-weight: 500;
}

.search-group {
    display: flex;
    width: fit-content;
    min-width: 300px;
    gap: 3rem;
}

.piece-button-grp {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    gap: 10px;
}

.custom-select-filter {
    height: 40px;
    border-bottom: 1px solid #e4e4e7;
    color: #666;
    font-size: 14px;
}

.custom-select-filter > .custom-selector {
    padding: 10px 10px 0 10px;
}

.custom-select-filter > .custom-options {
    max-height: 150px;
    max-width: max-content;
    top: 50px;
    color: black;
}

.custom-select-filter > .custom-options > .custom-item {
    font-size: 14px;
}

.pieces-counter {
    position: absolute;
    right: 250px;
    top: 0;
    font-size: 14px;
    color: var(--corp-yellow);
    font-weight: 500;
    padding: 2px 5px 2px;
    border-radius: .5rem;
    background-color: var(--corp-blue);
}

.piece-list-print {
    display: none;
}

@media print {
    .piece-list-print {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 10px;
        justify-content: center;
        width: 100%;
        padding-top: 20px;
    }
    .inner-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab-compo {
        width: 80%;
    }
    .search-button {
        display: flex;
        width: 90%;
    }
}
